@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}
.font-montserrat {
}

.font-work-sans {
	font-family: 'Work Sans', sans-serif;
}
. .bg-gradient-gray {
	background: #828282;
	background: repeating-linear-gradient(to top, #828282 0%, #ffffff 100%);
}

.after-vertical {
	clip-path: polygon(0 93%, 100% 93%, 100% 100%, 0 100%);
}

.enlace__interes:hover .after-vertical {
	clip-path: polygon(0 27%, 100% 27%, 100% 100%, 0 100%);
}

.enlace__servicio:hover {
	color: white;
}

.enlace__servicio:hover .after-vertical {
	clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
}

/* .enlace__servicio:hover .svg {
  fill: none !important;
  stroke: white !important;
}

.enlace__servicio:hover .svg * {
  fill: none !important;
  stroke: white !important;
}

.enlace__servicio:hover .svg .cabeza {
  stroke: white !important;
  fill: white !important;
}

.enlace__servicio:hover .svg .carita {
  fill: white !important;
} */
/* 
.enlace__servicio .icono__servicio {
  background-image: url("./assets/icons/services/icono-pqrsd.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.enlace__servicio:hover .icono__servicio {
  background-image: url("./assets/icons/services/icono-pqrsd-white.svg");
} */

/* ------------------------------------------------------------------------- seccion de turismo ------------------------------------------------------------------------- */

.grid__bento {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	grid-template: auto;
	min-height: 50vh;
	gap: 20px;
}

.card__turismo {
	overflow: hidden;
	color: #fff;
	border-radius: 20px;
}

.card__turismo img {
	min-height: 150px;
	max-height: 200px;
}

.card__img {
	border-radius: 20px 20px 0px 0px;
}

.card_info {
	padding: 20px;
}
.card_info h3 {
	margin-bottom: 20px;
	font-weight: 800;
}

.card_info a {
	display: inline-block;
	text-decoration: underline;
	text-underline-offset: 4px;
	margin-top: 30px;
}

.content__turismo__card article:nth-child(1),
.content__turismo__card article:nth-child(3) {
}

@media (min-width: 1024px) {
	.grid__bento {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-template-areas:
			'card-1 card-1 card-1 card-2 card-2 card-2'
			'card-1 card-1 card-1 card-2 card-2 card-2'
			'card-1 card-1 card-1 card-3 card-3 card-3'
			'card-1 card-1 card-1 card-3 card-3 card-3'
			'card-4 card-4 card-4 card-3 card-3 card-3'
			'card-4 card-4 card-4 card-3 card-3 card-3';
		min-height: 70vh;
		gap: 20px;
	}

	.card__turismo {
		border-radius: 20px;
		flex-direction: column;
	}

	.card__turismo img {
		min-height: 350px;
		max-height: 350px;
	}

	.content__turismo__card article:nth-child(1) {
		grid-area: card-1;
	}
	.content__turismo__card article:nth-child(2) {
		grid-area: card-2;
	}
	.content__turismo__card article:nth-child(3) {
		grid-area: card-3;
	}
	.content__turismo__card article:nth-child(4) {
		grid-area: card-4;
	}

	.content__turismo__card article:nth-child(2),
	.content__turismo__card article:nth-child(4) {
		display: flex;
		flex-direction: row;
	}

	.content__turismo__card article:nth-child(2) img,
	.content__turismo__card article:nth-child(4) img {
		width: 70em;
		height: 100%;
		min-height: auto;
		max-height: auto;
	}
}
