@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  font-family: "Montserrat", sans-serif;

}
.font-montserrat {
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
}
.
.bg-gradient-gray {
  background: #828282;
  background: repeating-linear-gradient(to top, #828282 0%, #ffffff 100%);
}

.after-vertical {
  clip-path: polygon(0 93%, 100% 93%, 100% 100%, 0 100%);
}

.enlace__interes:hover .after-vertical {
  clip-path: polygon(0 27%, 100% 27%, 100% 100%, 0 100%);
}


.enlace__servicio:hover {
  color: white;
}

.enlace__servicio:hover .after-vertical {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
}


/* .enlace__servicio:hover .svg {
  fill: none !important;
  stroke: white !important;
}

.enlace__servicio:hover .svg * {
  fill: none !important;
  stroke: white !important;
}

.enlace__servicio:hover .svg .cabeza {
  stroke: white !important;
  fill: white !important;
}

.enlace__servicio:hover .svg .carita {
  fill: white !important;
} */
/* 
.enlace__servicio .icono__servicio {
  background-image: url("./assets/icons/services/icono-pqrsd.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.enlace__servicio:hover .icono__servicio {
  background-image: url("./assets/icons/services/icono-pqrsd-white.svg");
} */