@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* .bg-gradient-gray {
  background: #828282;
  background: repeating-linear-gradient(to top, #828282 0%, #ffffff 100%);
} */
/* .contenedor {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4));
  height: 270px;
  width: 100%;
} */
/* .item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 250px;
  background-color: #36a9e1;
  border: none;
  border: 2px solid #4e16e8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  cursor: pointer;
  font-family: Arial, sans-serif;
} */
/* .badge-item{
  opacity: 0;
}
.item:hover .badge-item{
  opacity: 1;
} */

/* Servicio al ciudadano  */

.sombra {
  box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.1);
}
/* 
.item-1 {
  background-color: #36a9e1;
}
.item-2 {
  background-color: #014883;
}
.item-3 {
  background-color: #008fcf;
}
.item-4 {
  background-color: #0085c8;
} */
@media screen and (max-width: 800px) {
  /* .contenedor{ */
  /* height: 500px;
    grid-template-rows: 250px 250px;
    grid-auto-columns: calc((100% / 2)); */
}

/* .a {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
} */
