@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.font-work-sans{
    font-family: 'Work Sans', sans-serif;  
}

.clip-polygon{
    /* clip-path: polygon(50% 0, 50% 0, 84% 29%, 84% 75%, 50% 100%, 50% 100%, 16% 75%, 16% 30%); */

    clip-path: polygon(50% 0, 50% 0, 84% 29%, 84% 71%, 50% 100%, 50% 100%, 16% 71%, 16% 29%);
}

.bg-gradient-gray{
    background: #828282;
    background: repeating-linear-gradient(to top, #828282 0%, #FFFFFF 100%);
}

.swiper {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }